<!DOCTYPE html>
<!-- saved from url=(0087)http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/ -->
<html lang="en" class="responsejs"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Your Basic Site Informations -->
    <title>Showapp Premium App Showcase Landing Page</title>

    <meta name="description" content="Showapp is a premium design landing page that built-in professional responsive template, elegant style, smooth-animation and have a slew of features.">
    <meta name="keywords" content="Landing Page, One Page Template, Premium Design, Responsive Template, Smooth Animation, Elegant Style, App Showcase, PSD, HTML5, CSS3, jQuery">
    <meta name="author" content="Affapress">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="cssa/css" rel="stylesheet" type="text/css">
    <link href="cssa/css(1)" rel="stylesheet" type="text/css">
    <link href="cssa/css(2)" rel="stylesheet" type="text/css">



    <!-- Stylesheets -->
    <link rel="stylesheet" href="cssa/bootstrap.min.css">
    <link rel="stylesheet" href="cssa/font-awesome.min.css">
    <link rel="stylesheet" href="cssa/slick.css">
    <link rel="stylesheet" href="cssa/slick-theme.css">
    <link rel="stylesheet" href="cssa/jquery.fancybox.css">
    <link rel="stylesheet" href="cssa/animate.min.css">
    <link rel="stylesheet" href="cssa/style.css">


    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/green/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript>&lt;link rel="stylesheet" href="css/no-js.css"&gt;</noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/images/favicon.ico">
    <link rel="apple-touch-icon" href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/images/apple-touch-icon-114x114.png">

    <style type="text/css">.fancybox-margin{margin-right:15px;}</style><style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></head>
<body>

<div id="preloader" style="display: none;">
    <div class="spinner" style="display: none;"></div> <!-- page loader spinner -->
</div>

<!-- #header -->
<nav id="navigation_affix">

    <!-- .container -->
    <div class="container">

        <div class="navbar-brand">
            <img src="imagea/logo.png" alt="Logo"> <!-- site logo -->
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#header" class="smooth-scroll">Home</a></li>
            <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#features" class="smooth-scroll">Features</a></li>
            <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#testimonials" class="smooth-scroll">Testimonials</a></li>
            <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#screenshots" class="smooth-scroll">Screenshots</a></li>
            <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#bottom" class="smooth-scroll">Downloads</a></li>
        </ul>

    </div>
    <!-- .container end -->

</nav>

<header id="header" style="opacity: 1;"><nav class="nav-menu-mobile"><div class="nav-menu-links"><ul>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#header" class="smooth-scroll">Home</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#features" class="smooth-scroll">Features</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#testimonials" class="smooth-scroll">Testimonials</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#screenshots" class="smooth-scroll">Screenshots</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#bottom" class="smooth-scroll">Downloads</a></li>
            </ul></div><div class="nav-menu-button"><button class="nav-menu-toggle"><i class="fa fa-navicon"></i></button></div></nav>

    <!-- #navigation -->
    <nav id="navigation" class="navbar">

        <!-- .container -->
        <div class="container">

            <div class="navbar-brand">
                <img src="imagea/logo.png" alt="Logo"> <!-- site logo -->
            </div>

            <ul class="nav navbar-nav">
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#header" class="smooth-scroll">Home</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#features" class="smooth-scroll">Features</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#testimonials" class="smooth-scroll">Testimonials</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#screenshots" class="smooth-scroll">Screenshots</a></li>
                <li><a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#bottom" class="smooth-scroll">Downloads</a></li>
            </ul>

        </div>
        <!-- .container end -->

    </nav>
    <!-- #navigation end -->

    <!-- .header-content -->
    <div class="header-content">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-7">
                    <div class="header-text animation animated animation-fade-in-left" data-animation="animation-fade-in-left">
                        <div class="header-heading-title">
                            <h1>Present your app in beautiful way with Showapp</h1>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit anim exercitation commodo consequat fugiat pariatur.</p>
                        </div>
                        <div class="header-button">
                            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#bottom" class="btn-header smooth-scroll"><i class="fa fa-download"></i> Download App</a>
                        </div>
                        <p class="header-heading-subtitle">Available on App Store &amp; Play Store</p>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-offset-1 header-slider-col">
                    <div class="header-slider-wrap animation animated animation-fade-in-right" data-animation="animation-fade-in-right" data-delay="300">
                        <div class="carousel-slider header-slider slick-initialized slick-slider" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;">Previous</button>
                            <div aria-live="polite" class="slick-list"><div class="slick-track" style="opacity: 1; width: 1902px; transform: translate3d(-1268px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 317px;" tabindex="-1"><img src="imagea/4.jpg" alt="Image 4"></div><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide00"><img src="imagea/1.jpg" alt="Image 1"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide01"><img src="imagea/2.jpg" alt="Image 2"></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide02"><img src="imagea/3.jpg" alt="Image 3"></div><div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" style="width: 317px;" tabindex="0" role="option" aria-describedby="slick-slide03"><img src="imagea/4.jpg" alt="Image 4"></div><div class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 317px;" tabindex="-1"><img src="imagea/1.jpg" alt="Image 1"></div></div></div>



                            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01" class=""><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02" class=""><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li><li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03" class="slick-active"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">4</button></li></ul></div>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .header-content end -->

</header>
<!-- #header end -->

<!-- #features -->
  <div id="features" class="row-section" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">

            <div class="col-sm-4 animation" data-animation="animation-fade-in-down"> <!-- 1 -->
                <div class="affa_feature_icon_top">
                    <i class="fa fa-laptop"></i>
                    <h4>Responsive Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua polo enim ad minim veniam, quis nostrud exercitation ullamco nisi.</p>
                </div>
            </div>

            <div class="col-sm-4 animation" data-animation="animation-fade-in-down" data-delay="200"> <!-- 2 -->
                <div class="affa_feature_icon_top">
                    <i class="fa fa-globe"></i>
                    <h4>Browser Support</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua polo enim ad minim veniam, quis nostrud exercitation ullamco nisi.</p>
                </div>
            </div>

            <div class="col-sm-4 animation" data-animation="animation-fade-in-down" data-delay="400"> <!-- 3 -->
                <div class="affa_feature_icon_top">
                    <i class="fa fa-code"></i>
                    <h4>Code Validation</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua polo enim ad minim veniam, quis nostrud exercitation ullamco nisi.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #features end -->

<!-- #features2 -->
<div id="features2" class="row-section wrap-bg" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center animation" data-animation="animation-fade-in-down">
            <h2>Our’s Amazing Features</h2>
            <p>perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui<br>ratione voluptatem sequi nesciunt</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-4 col-features">
                <div class="affa_feature_icon icon-right animation" data-animation="animation-fade-in-left"> <!-- 1 -->
                    <i class="fa fa-laptop"></i>
                    <h4>Responsive Design</h4>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore aliqua nesciunt.</p>
                </div>

                <div class="affa_feature_icon icon-right animation" data-animation="animation-fade-in-left"> <!-- 2 -->
                    <i class="fa fa-globe"></i>
                    <h4>Browser Support</h4>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore aliqua nesciunt.</p>
                </div>

                <div class="affa_feature_icon icon-right animation" data-animation="animation-fade-in-left"> <!-- 3 -->
                    <i class="fa fa-code"></i>
                    <h4>Code Validation</h4>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore aliqua nesciunt.</p>
                </div>
            </div>

            <div class="col-sm-4 col-features-img animation" data-animation="animation-fade-in-down">
                <figure><img src="imagea/app-features-iphone.png" alt="App Main Features"></figure>
            </div>

            <div class="col-sm-4 col-features">
                <div class="affa_feature_icon animation" data-animation="animation-fade-in-right"> <!-- 4 -->
                    <i class="fa fa-laptop"></i>
                    <h4>Responsive Design</h4>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore aliqua nesciunt.</p>
                </div>

                <div class="affa_feature_icon animation" data-animation="animation-fade-in-right"> <!-- 5 -->
                    <i class="fa fa-globe"></i>
                    <h4>Browser Support</h4>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore aliqua nesciunt.</p>
                </div>

                <div class="affa_feature_icon animation" data-animation="animation-fade-in-right"> <!-- 6 -->
                    <i class="fa fa-code"></i>
                    <h4>Code Validation</h4>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit, sed do eiusmod tempor incididunt labore aliqua nesciunt.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #features2 end -->

<!-- #features3 -->
<div id="features3" class="row-section border-bottom no-padding-bottom" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">

            <div class="col-sm-5 animation">
                <figure class="img-overlay img-right-front">
                    <div class="img-left animation" data-animation="animation-fade-in-left" data-delay="600"> <!-- left -->
                        <img src="imagea/app-features-nexus-left.png" alt="Nexus 5 Feature">
                    </div>
                    <div class="img-right animation" data-animation="animation-fade-in-left" data-delay="200"> <!-- right -->
                        <img src="imagea/app-features-nexus-right.png" alt="Nexus 5 Feature">
                    </div>
                </figure>
            </div>

            <div class="col-sm-6 col-xs-offset-1 animation" data-animation="animation-fade-in-right">
                <div class="col-text">
                    <div class="post-heading-left">
                        <h2>Explain why it’s best</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat.</p>
                    <div class="list-icon">
                        <ul>
                            <li><i class="fa fa-laptop"></i> Reliable and secure platform</li>
                            <li><i class="fa fa-check-square-o"></i> Everything is perfectly orgainized for future</li>
                            <li><i class="fa fa-dropbox"></i> Attach large files easily</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #features3 end -->

<!-- #features4 -->
<div id="features4" class="row-section border-bottom no-padding-bottom" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6 animation" data-animation="animation-fade-in-left">
                <div class="col-text text-right">
                    <div class="post-heading-left">
                        <h2>Describe your app</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident est laborum.</p>
                </div>
            </div>

            <div class="col-sm-5 col-xs-offset-1">
                <figure class="img-overlay img-left-front">
                    <div class="img-left animation" data-animation="animation-fade-in-right" data-delay="600"> <!-- left -->
                        <img src="imagea/app-features-iphone-small.png" alt="iPhone Feature">
                    </div>
                    <div class="img-right animation" data-animation="animation-fade-in-right" data-delay="200"> <!-- right -->
                        <img src="imagea/app-features-ipad-big.png" alt="iPad Feature">
                    </div>
                </figure>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #features4 end -->

<!-- #demo_video -->
<div id="demo_video" class="row-section" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6 animation" data-animation="animation-fade-in-left" data-delay="200">
                <figure>
                    <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="./Showapp Premium App Showcase Landing Page_files/EDGiXqU0MfE.html" id="fitvid0"></iframe></div>
                </figure>
            </div>

            <div class="col-sm-6 animation" data-animation="animation-fade-in-right">
                <div class="col-text-half">
                    <div class="post-heading-left">
                        <h2>Demo with video</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed amat eiusmod tempor incididunt ut labore et dolore magna aliqua. Uta enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit dolore.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #demo_video end -->

<!-- #testimonials -->
<div id="testimonials" class="row-section wrap-bg" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <div class="affa_testimonials_carousel carousel-slider general-slider animation slick-initialized slick-slider" data-animation="animation-fade-in-down" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;">Previous</button>
            <div aria-live="polite" class="slick-list" style="height: 315px;"><div class="slick-track" style="opacity: 1; width: 5700px; transform: translate3d(-1140px, 0px, 0px);" role="listbox"><div class="testimonial-item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 1140px;" tabindex="-1"> <!-- 3 -->
                        <img src="imagea/3.png" alt="Avatar">
                        <div class="testimonial-text">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in tempor incididunt nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>Yanuardi Santosa</h4>
                            <p>CEO &amp; Founder Sneakersarea</p>
                        </div>
                    </div><div class="testimonial-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 1140px;" tabindex="0" role="option" aria-describedby="slick-slide20"> <!-- 1 -->
                        <img src="imagea/1.png" alt="Avatar">
                        <div class="testimonial-text">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in tempor incididunt nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>Mugiwara Kiwolen</h4>
                            <p>CEO &amp; Founder Affapress</p>
                        </div>
                    </div><div class="testimonial-item slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1140px;" tabindex="-1" role="option" aria-describedby="slick-slide21"> <!-- 2 -->
                        <img src="imagea/2.png" alt="Avatar">
                        <div class="testimonial-text">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in tempor incididunt nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>Rendy Jagerjack</h4>
                            <p>CEO &amp; Founder Dotstheme</p>
                        </div>
                    </div><div class="testimonial-item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 1140px;" tabindex="-1" role="option" aria-describedby="slick-slide22"> <!-- 3 -->
                        <img src="imagea/3.png" alt="Avatar">
                        <div class="testimonial-text">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in tempor incididunt nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>Yanuardi Santosa</h4>
                            <p>CEO &amp; Founder Sneakersarea</p>
                        </div>
                    </div><div class="testimonial-item slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 1140px;" tabindex="-1"> <!-- 1 -->
                        <img src="imagea/1.png" alt="Avatar">
                        <div class="testimonial-text">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in tempor incididunt nostrud exercitation ullamco laboris nisi ut aliquip commodoconsequat."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>Mugiwara Kiwolen</h4>
                            <p>CEO &amp; Founder Affapress</p>
                        </div>
                    </div></div></div>




            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation20" id="slick-slide20"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation21" id="slick-slide21"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation22" id="slick-slide22"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li></ul></div>

    </div>
    <!-- .container end -->

</div>
<!-- #testimonials end -->

<!-- #screenshots -->
<div id="screenshots" class="row-section border-bottom" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center animation" data-animation="animation-fade-in-down">
            <h2>Our's App Screenshots</h2>
            <p>perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui<br>ratione voluptatem sequi nesciunt</p>
        </div>

        <div class="row carousel-slider gallery-slider animation slick-initialized slick-slider" data-animation="animation-fade-in-up" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;">Previous</button>
            <div aria-live="polite" class="slick-list"><div class="slick-track" style="opacity: 1; width: 4688px; transform: translate3d(-1172px, 0px, 0px);" role="listbox"><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 5 -->
                        <a href="imagea/5.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/5.jpg" alt="Screenshot 5">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 6 -->
                        <a href="imagea/6.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/6.jpg" alt="Screenshot 6">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 7 -->
                        <a href="imagea/7.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/7.jpg" alt="Screenshot 7">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 8 -->
                        <a href="imagea/8.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/8.jpg" alt="Screenshot 8">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 293px;" tabindex="0" role="option" aria-describedby="slick-slide10"> <!-- 1 -->
                        <a href="imagea/1(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="0">
                            <figure class="img-hover">
                                <img src="imagea/1(1).jpg" alt="Screenshot 1">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 293px;" tabindex="0" role="option" aria-describedby="slick-slide11"> <!-- 2 -->
                        <a href="imagea/2(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="0">
                            <figure class="img-hover">
                                <img src="imagea/2(1).jpg" alt="Screenshot 2">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 293px;" tabindex="0" role="option" aria-describedby="slick-slide12"> <!-- 3 -->
                        <a href="imagea/3(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="0">
                            <figure class="img-hover">
                                <img src="imagea/3(1).jpg" alt="Screenshot 3">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 293px;" tabindex="0" role="option" aria-describedby="slick-slide13"> <!-- 4 -->
                        <a href="imagea/4(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="0">
                            <figure class="img-hover">
                                <img src="imagea/4(1).jpg" alt="Screenshot 4">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide" data-slick-index="4" aria-hidden="true" style="width: 293px;" tabindex="-1" role="option" aria-describedby="slick-slide14"> <!-- 5 -->
                        <a href="imagea/5.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/5.jpg" alt="Screenshot 5">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide" data-slick-index="5" aria-hidden="true" style="width: 293px;" tabindex="-1" role="option" aria-describedby="slick-slide15"> <!-- 6 -->
                        <a href="imagea/6.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/6.jpg" alt="Screenshot 6">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide" data-slick-index="6" aria-hidden="true" style="width: 293px;" tabindex="-1" role="option" aria-describedby="slick-slide16"> <!-- 7 -->
                        <a href="imagea/7.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/7.jpg" alt="Screenshot 7">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide" data-slick-index="7" aria-hidden="true" style="width: 293px;" tabindex="-1" role="option" aria-describedby="slick-slide17"> <!-- 8 -->
                        <a href="imagea/8.jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/8.jpg" alt="Screenshot 8">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 1 -->
                        <a href="imagea/1(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/1(1).jpg" alt="Screenshot 1">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 2 -->
                        <a href="imagea/2(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/2(1).jpg" alt="Screenshot 2">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 3 -->
                        <a href="imagea/3(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/3(1).jpg" alt="Screenshot 3">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div><div class="col-sm-3 slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 293px;" tabindex="-1"> <!-- 4 -->
                        <a href="imagea/4(1).jpg" class="fancybox" data-fancybox-group="images_gallery" tabindex="-1">
                            <figure class="img-hover">
                                <img src="imagea/4(1).jpg" alt="Screenshot 4">
                                <div class="img-hover-masked"></div>
                            </figure>
                        </a>
                    </div></div></div>














            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation10" id="slick-slide10"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation11" id="slick-slide11"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation12" id="slick-slide12"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation13" id="slick-slide13"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">4</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation14" id="slick-slide14"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">5</button></li></ul></div>

    </div>
    <!-- .container end -->

</div>
<!-- #screenshots end -->

<!-- #pricing -->
<div id="pricing" class="row-section" style="opacity: 1;">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center animation" data-animation="animation-fade-in-down">
            <h2>See App Plans &amp; Pricing</h2>
            <p>perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui<br>ratione voluptatem sequi nesciunt</p>
        </div>

        <div class="tbl-pricing tbl-prc-recommended animation" data-animation="animation-fade-in-up">
            <div class="row">
                <div class="col-sm-3 tbl-prc-col"> <!-- 1 -->
                    <div class="tbl-prc-base">
                        <h4 class="tbl-prc-heading">Basic</h4>
                        <h2 class="tbl-prc-price"><sup>$</sup>19</h2>
                        <h5 class="tbl-prc-sub-price">This is a 1 month plan</h5>
                        <ul class="tbl-prc-list">
                            <li><i class="fa fa-check"></i> Free Image Editing</li>
                            <li><i class="fa fa-check"></i> Unlimited Profile Views</li>
                            <li><i class="fa fa-check"></i> VIP Access</li>
                            <li><i class="fa fa-remove"></i> Amazing Benefits</li>
                            <li><i class="fa fa-remove"></i> Amazing Content</li>
                            <li><i class="fa fa-remove"></i> Unlocked Maps</li>
                        </ul>
                        <div class="tbl-prc-footer">
                            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="btn-custom">Download</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 tbl-prc-col"> <!-- 2 -->
                    <div class="tbl-prc-base">
                        <h4 class="tbl-prc-heading">Standard</h4>
                        <h2 class="tbl-prc-price"><sup>$</sup>49</h2>
                        <h5 class="tbl-prc-sub-price">This is a 1 month plan</h5>
                        <ul class="tbl-prc-list">
                            <li><i class="fa fa-check"></i> Free Image Editing</li>
                            <li><i class="fa fa-check"></i> Unlimited Profile Views</li>
                            <li><i class="fa fa-check"></i> VIP Access</li>
                            <li><i class="fa fa-check"></i> Amazing Benefits</li>
                            <li><i class="fa fa-remove"></i> Amazing Content</li>
                            <li><i class="fa fa-remove"></i> Unlocked Maps</li>
                        </ul>
                        <div class="tbl-prc-footer">
                            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="btn-custom">Download</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 tbl-prc-col tbl-prc-col-recommended"> <!-- 3 -->
                    <div class="tbl-prc-base">
                        <h4 class="tbl-prc-heading">Professional<i>most popular</i></h4>
                        <h2 class="tbl-prc-price"><sup>$</sup>64</h2>
                        <h5 class="tbl-prc-sub-price">This is a 1 month plan</h5>
                        <ul class="tbl-prc-list">
                            <li><i class="fa fa-check"></i> Free Image Editing</li>
                            <li><i class="fa fa-check"></i> Unlimited Profile Views</li>
                            <li><i class="fa fa-check"></i> VIP Access</li>
                            <li><i class="fa fa-check"></i> Amazing Benefits</li>
                            <li><i class="fa fa-check"></i> Amazing Content</li>
                            <li><i class="fa fa-remove"></i> Unlocked Maps</li>
                        </ul>
                        <div class="tbl-prc-footer">
                            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="btn-custom">Download</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 tbl-prc-col"> <!-- 4 -->
                    <div class="tbl-prc-base">
                        <h4 class="tbl-prc-heading">Enterprise</h4>
                        <h2 class="tbl-prc-price"><sup>$</sup>99</h2>
                        <h5 class="tbl-prc-sub-price">This is a 1 month plan</h5>
                        <ul class="tbl-prc-list">
                            <li><i class="fa fa-check"></i> Free Image Editing</li>
                            <li><i class="fa fa-check"></i> Unlimited Profile Views</li>
                            <li><i class="fa fa-check"></i> VIP Access</li>
                            <li><i class="fa fa-check"></i> Amazing Benefits</li>
                            <li><i class="fa fa-check"></i> Amazing Content</li>
                            <li><i class="fa fa-check"></i> Unlocked Maps</li>
                        </ul>
                        <div class="tbl-prc-footer">
                            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="btn-custom">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- .container end -->

</div>
<!-- #pricing end -->

<!-- #bottom -->
<div id="bottom" class="animation" data-animation="animation-fade-in-down">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Get Your App Now</h2>
            <p>perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui<br>ratione voluptatem sequi nesciunt</p>
        </div>

        <div class="bottom-button">
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="btn-custom btn-icon"><i class="fa fa-android"></i> <em>Available on</em>Google Play</a>
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="btn-custom btn-icon"><i class="fa fa-apple"></i> <em>Available on the</em>App Store</a>
        </div>

        <div class="sep-border"></div> <!-- separator -->

        <div class="subscribe-form">
            <div class="post-heading-center2">
                <p>Our's Latest Updates</p>
                <h2>Subscribe to our newsletter!</h2>
            </div>

            <form method="post" action="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="affa-form-subscribe">
                <input type="text" name="email" placeholder="Enter your e-mail address....">
                <input type="submit" name="submit" value="">
            </form>
        </div>

        <div class="social-links">
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" title="facebook"><i class="fa fa-facebook"></i></a>
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" title="twitter"><i class="fa fa-twitter"></i></a>
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" title="google plus"><i class="fa fa-google-plus"></i></a>
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" title="instagram"><i class="fa fa-instagram"></i></a>
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" title="pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" title="dribbble"><i class="fa fa-dribbble"></i></a>
        </div>

        <footer class="footer-text">
            <p>© 2016 Copyrights by Affapress - All rights reserved.</p>
        </footer>

    </div>
    <!-- .container end -->

</div>
<!-- #bottom end -->

<div id="customize">
    <div class="wrap-customize">
        <div class="customize-panel">
            <h5>Header</h5>
            <div class="customize-list-link">
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_1/" title="Header Layout 1"><i class="fa fa-caret-right"></i> Layout 1</a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/" title="Header Layout 2"><i class="fa fa-caret-right"></i> Layout 2</a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_3/" title="Header Layout 3"><i class="fa fa-caret-right"></i> Layout 3</a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_4/" title="Header Layout 4"><i class="fa fa-caret-right"></i> Layout 4</a>
            </div>
        </div>
        <div class="customize-panel">
            <h5>Colors</h5>
            <div class="customize-list-color">
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="blue" title="Blue" style="background-color:#169ece;"></a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="green" title="Green" style="background-color:#2bd15d;"></a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="orange" title="Orange" style="background-color:#fe7c09;"></a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="pink" title="Pink" style="background-color:#f85ea8;"></a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="purple" title="Purple" style="background-color:#bb50d8;"></a>
                <a href="http://affapress.com/templates/showapp_premium_app_showcase_landing_page/html/header_2/#" class="yellow" title="Yellow" style="background-color:#feb00b;"></a>
            </div>
        </div>
    </div>
    <div class="popup-open"><i class="fa fa-gear"></i></div>
</div>

<!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
        <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->

<!-- JavaScripts -->
<script type="text/javascript" src="jsa/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="jsa/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="jsa/bootstrap.min.js"></script>
<script type="text/javascript" src="jsa/jquery.easing.min.js"></script>
<script type="text/javascript" src="jsa/smoothscroll.js"></script>
<script type="text/javascript" src="jsa/response.min.js"></script>
<script type="text/javascript" src="jsa/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="jsa/jquery.fitvids.js"></script>
<script type="text/javascript" src="jsa/waypoints.min.js"></script>
<script type="text/javascript" src="jsa/slick.min.js"></script>
<script type="text/javascript" src="jsa/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="jsa/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="jsa/script.js"></script>


</body></html>